<html ng-app="angularCattery">
	<title>Kittehs On Display!</title>
	<head>
		<link data-require="bootstrap-css" data-semver="3.1.1" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="style.css" />
		
		<script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.15/angular.js" data-semver="1.2.15"></script>
		<script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		
		<script src="app.js"></script>
		<script src="ragdolls.js"></script>
	</head>
	
	<body ng-controller="RagdollController as ragdollCtrl">
		<div id="ragdollContainer">
			<h1>Angular Ragdoll Cattery!</h1>
			<div class="ragdollKitty" ng-repeat="ragdoll in ragdollCtrl.ragdolls">
				<span>Name: <strong>{{ragdoll.Name | uppercase}}</strong></span>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<span>Color: {{ragdoll.Color}}</span>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<span>Fluffiness factor: {{ragdoll.Fluffiness | number:2}}</span>
				<div ng-controller="PhotoController as photoCtrl">
					<div class="ragdollSelectedPhoto">
						<img class="bigPhoto" ng-src="{{photoCtrl.getPhotoUrl(ragdoll)}}" />
					</div>
					<div class="ragdollThumbnails" ng-show="ragdoll.Photos.length > 0">
						<div class="ragdollThumbnail" ng-repeat="photo in ragdoll.Photos" ng-click="photoCtrl.setPhotoIndex($index)">
							<img class="smallPhoto" ng-src="{{photo}}" />
						</div>
					</div>
					<div class="clearBoth"></div>
				</div>
			</div>
			<div class="clearBoth"></div>
		</div>
	</body>	
</html>